.container {
    padding: 6% 8% 6% 8%;
    display: flex;
    align-items: center;
    background: #FFF;
    gap: 5%;
    justify-content: space-between;
    margin: 0px 0px 72px 0px;
}

.heading {
    width: 50%;
}

.heading h2 {
    color: #090909;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 132.6%;
    /* 63.648px */
    letter-spacing: 0.48px;
    padding-bottom: 30px;
}

.heading p {
    color: #464646;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    padding-bottom: 60px;
}



.button {
    display: flex;
    width: 146px;
    height: 40px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #090909;
    border-style: none;
    box-shadow: -4px -4px 8px 0px rgba(157, 165, 182, 0.4);
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button:hover {
    background: #FDFDFD;
    color: #090909;
    box-shadow: -6px -6px 8px 0px rgb(157, 165, 182, 0.2);
    border: 1px solid #000000;
}
.boxes{
    display: grid;
    grid-gap: 15% 5%;
    justify-content: space-between;
    width: 50%;
    grid-template-columns: 1fr 1fr;
}
.box{
    display: block;
    align-items: flex-start;
    max-width: 300px;
}
.box span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1E222B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.title{
    color: #090909;
font-size: 20px;
font-weight: 600;
letter-spacing: 0.2px;
}
.para{
    color: #6A6A6A;
font-size: 18px;
line-height: 30px; /* 166.667% */
letter-spacing: 0.18px;
}
/* @media (min-width: 768px) and (max-width: 1023px) {}


@media (min-width: 1024px) and (max-width: 1279px) {} */

@media (max-width: 991px) {
    .container {
        gap: 60px;
    }
    .boxes{
        grid-gap: 7.5% 3%;
    }
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        gap: 70px;
    }

    .heading {
        width: 100%;
    }
    .boxes{
        width: 100%;
    }
    .heading p {
        padding-bottom: 40px;
    }
}

@media (max-width: 375px) {
    
}