.container{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 108px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo{
    height: 60px;
}
.header{
    display: flex;
align-items: center;
justify-content: space-around;
gap: 28px;
}

.link{
    color: #090909;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.72px;
    padding: 40px;
}


.line::before {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid rgba(199, 199, 199, 0.5);
  }
  
.button{
    display: flex;
width: 146px;
height: 40px;
padding: 14px 20px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 12px;
background: #000;
border-style: none;
box-shadow: -4px -4px 8px 0px rgba(30, 34, 43, 0.40);
}

.enquire{
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}