.container{
    padding: 0px 8% 80px 8%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.card{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    border-radius: 12px;
    border: 1.117px solid #E8E8E8;
    background: #FFF;
    transition: transform 0.9s;
}


.card:hover {
    transform: scale(1.05); 
  }
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    width: 30%;
    flex-grow: 1;
}

.card h2{
    color: #090909;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.67px;
text-align: center;
}
.card p{
    color: #6A6A6A;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-align: center;
height: 280px;
}
.card span{
    color: #464646;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 31.266px; /* 195.411% */
padding-top: 16px;
}
@media (max-width: 665px) {
    .col{
        /* width: 256px; */
        width: 200px;
    }
    .container{
        padding: 76px 6% 36px 6%;
    }

}

@media (min-width: 360px) and (max-width: 768px) {

    .container{
        padding: 32px 6% 32px 6%;
        gap: 16px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1.117px solid #E8E8E8;
        background: #FFF;
    }
    
    .card h2{
        color: #090909;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.67px;
    }
    .card p{
        color: #6A6A6A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: center;
    }
    .card span{
        color: #464646;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 31.266px; /* 195.411% */
    padding-top: 4px;
    }
    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container{
    padding: 0px 6% 36px 6%;
    }
   .card{
       padding: 20px;
   }
}


@media (min-width: 1024px) and (max-width: 1279px) {
    .container{
        padding: 76px 6% 36px 6%;
        }
       .card{
           padding: 20px;
       }
}
