.container{
    padding: 40px 10% 40px 10%;
}
.main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px 10px;
    gap: 160px;
}
.story{
    width: 50%;
}
.story2{
    width: 50%;
    padding-top: 60px;
}
.storymain{
    display: flex;
    flex-direction: column;
}
.story p{
    color: #6A6A6A;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px; /* 187.5% */
    width: 43%;
    padding: 24px 0px  16px 0px;
}
.story img{
    width: 100%;
}
.story p, .story h3{
    width: 84%;
    margin: auto;
}
.story h3{
    color: #090909;
font-size: 36px;
font-weight: 400;
line-height: 50px; /* 138.889% */
letter-spacing: 0.36px;
}

.story2 p{
    color: #6A6A6A;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px; /* 187.5% */
    width: 43%;
    padding: 24px 0px  16px 0px;
}
.story2 img{
    width: 100%;
}
.story2 p, .story2 h3{
    width: 84%;
    margin: auto;
}
.story2 h3{
    color: #090909;
font-size: 36px;
font-weight: 400;
line-height: 50px; /* 138.889% */
letter-spacing: 0.36px;
}
.design{
    margin-top: 60px;
}
.designing{
    margin-top: -170px;
}
.more{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
    justify-content: center;
    color: #1E222B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .storymain{
        gap: 40px;
        padding: 20px 0px;
    }
    
    .main{
        margin: 0; 
        gap: 60px;
    }
    .story2 {
        padding-top: 40px;
    }
    .story, .story p, .story h3{
        width: 100%;
        }
        .container{
            padding: 40px 8% 40px 8%;
        }
        .story2, .story2 p, .story2 h3{
            width: 100%;
            }
        .story h3{
            font-size: 22px;
            line-height: 34px;
        }
        .story p{
            font-size: 16px;
            line-height: 28px;
            padding: 8px 0px 8px 0px;
        }
        .story2 h3{
            font-size: 22px;
            line-height: 34px;
        }
        .story2 p{
            font-size: 16px;
            line-height: 28px;
            padding: 8px 0px 8px 0px;
        }
}

@media (min-width: 360px) and (max-width: 768px) {
    
    .main{
        flex-direction: column;
    }
    .designing, .design{
        margin: 0;
    }
    .storymain{
        gap: 30px;
        padding: 20px 0px;
    }
    
    .main{
        margin: 0; 
        gap: 0px;
    }
    .story2 {
        padding-top: 30px;
    }
    .story, .story p, .story h3{
        width: 100%;
        }
        .container{
            padding: 40px 4% 40px 4%;
                padding: 40px 4% 40px 4%;
        }
        .story2, .story2 p, .story2 h3{
            width: 100%;
            }
        .story h3{
            font-size: 22px;
            line-height: 34px;
        }
        .story p{
            font-size: 16px;
            line-height: 28px;
            padding: 8px 0px 8px 0px;
        }
        .story2 h3{
            font-size: 22px;
            line-height: 34px;
        }
        .story2 p{
            font-size: 16px;
            line-height: 28px;
            padding: 8px 0px 8px 0px;
        }
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .story h3{
        font-size: 32px;
        line-height: 48px;
    }
    .story p{
        font-size: 20px;
        line-height: 28px;
        padding: 8px 0px 8px 0px;
    }
    .story2 h3{
        font-size: 32px;
        line-height: 48px;
    }
    .story2 p{
        font-size: 20px;
        line-height: 28px;
        padding: 8px 0px 8px 0px;
    }
}



.read{
    color: #4c4c4c;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
align-items: center;
transition: all 500ms ease;
}
.read a{
    color: #4c4c4c;
    transition: all 500ms ease;
}
.read a:hover{
    color: #090909;
    font-size: 17px;
    }
.read svg{
    margin-left: 8px;
    padding-top: 2px;
}