.container{
    padding: 40px 6% 40px 6%;
}
.main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px 10px;
}
.story{
    color: #6A6A6A;
font-size: 24px;
font-weight: 200;
line-height: 30px; /* 187.5% */
width: 43%;
padding: 15px 0;
}
.story img{
    width: 100%;
}
.story p, .story h3{
    width: 70%;
    margin: auto;
}
.story h3{
    color: #090909;
font-size: 36px;
font-weight: 400;
line-height: 50px; /* 138.889% */
letter-spacing: 0.36px;
}
.design{
    margin-top: 175px;
}
.designing{
    margin-top: -170px;
}
.more{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
    justify-content: center;
    color: #1E222B;
font-size: 16px;
font-style: normal;
font-weight: 600;
}
@media (max-width: 650px) {
    .story{
    width: 47%;
    font-size: 16px;
    }
    .story h3{
        font-size: 22px;
        line-height: 30px;
    }
}
@media (max-width: 415px) {
    .main{
        flex-direction: column;
    }
    .designing, .design{
        margin: 0;
    }
    .story, .story p, .story h3{
        width: 100%;
        }
}