.container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 10% 72px 10%;
}
.contentleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.contentleft h2 {
    color: #090909;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    /* 135% */
}

.contentleft p {
    color: #090909;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 8px 0 48px 0;
}

.service{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding-top: 48px;
}

.service h2{
    color: #090909;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 135% */
    padding-top: 8px;
}

.service p{
    color: #6A6A6A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding: 16px 0 32px 0;
}

.mainLeft{
    width: 40%;
    box-sizing: border-box;
}
.mainRight img{
    width: 100%;
    height: auto;
    transition: transform 0.9s;
  }
  .mainRight:hover img {
      transform: scale(1.1); 
    }

    .mainRight{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    /* .mainRight1{
        display: flex;
        gap: 60px;
        padding-left: 70px;
    }
    .mainRight2{
        display: flex;
        gap: 60px;
    } */
    
    .techicon{
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
    }
    .techicon img{
        width: 100%;
      height: auto;
      transition: transform 0.9s;
    } 




    @media (min-width: 360px) and (max-width: 768px) {
        .container{
            padding: 48px 6% 72px 6%;
            gap: 40px;
        }
        .contentleft {
            width: 100%;
            padding: 0%;
        }
        .contentleft p {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            padding: 0px 0px 36px 0px;
            padding-top: 10px;
        }
        .contentleft h2 {
            font-size: 20px;
            padding-bottom: 0px;
        }
        .service{
        flex-direction: column;
        gap: 40px;
        padding-top: 0;
    }
    .mainLeft{
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mainLeft h2{
        font-size: 24px;
        line-height: 34px;
        text-align: center;
    }
    .mainLeft p{
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        padding:8px 0 24px 0;
    }
    .mainRight{
        width: 96%;
    }
    

}

@media (min-width: 768px) and (max-width: 1023px) {
    .contentleft {
        width: 100%;
        align-items: center;
        padding: 0px 8%;
    }
    .contentleft h2 {
        font-size: 24px;
        padding-bottom: 0px;
    }
    .contentleft p {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {
 
}
