.container {
    padding: 32px 0;
    background: #090909;
}

.main {
    padding: 32px 10%;
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.row {
    display: flex;
    gap: 120px;
    justify-content: space-between;
}

.col {

    position: relative;
}

.card {
    border-radius: 20px;
    /* background: #0AA8E5;
    z-index: 5;
    width: 40%;
    height: 60%;
    content: ''; */
    position: absolute;
    top: 10px;
    left: 0;
    width: 76%;
    height: 100%;
    background-color: #1C1C1C;
    transition: background-color 0.3s;
}

.cardactive {
    border-radius: 20px;
    /* background: #0AA8E5;
    z-index: 5;
    width: 40%;
    height: 60%;
    content: ''; */
    position: absolute;
    top: 10px;
    left: 0;
    width: 76%;
    height: 100%;
    background-color: #0AA8E5;
    transition: background-color 0.3s;
}

.col:hover .cardactive {
    background-color: #1C1C1C;
}

.col:hover .card {
    background-color: #0AA8E5;
}

.col:hover .details {
    background-color: transparent;
}

.details {
    z-index: 1;
    position: relative;
    left: 40px;
    background-color: transparent;
}

.details span {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.details h2 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    padding: 10px 0 40px 0;

}

.details p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 16px 0 32px 0;
}


@media (max-width: 1279px) {
    .card {
        width: 86%;
    }

    .cardactive {
        width: 86%;
    }
}

@media (max-width: 1023px) {
    .details h2 {
        padding: 10px 0 20px 0;
    }

    .row {
        gap: 105px;
    }

    .card {
        width: 90%;
    }

    .cardactive {
        width: 90%;
    }

    .main {
        gap: 90px;
        padding: 90px 8%;
    }

    .details h2 {
        font-size: 32px;
    }
}

@media (max-width: 950px) {
    .row {
        flex-direction: column;
    }

    .col {
        max-width: 400px;
    }

    .row .col:last-child {
        align-self: flex-end;
    }
}

@media (max-width: 768px) {
   .main {
    padding: 70px 5%;
   }

   .col {
    max-width: 370px;
   }

   .details {
    left: 35px;
   }
}

@media (max-width: 575px) {
    .card {
        width: 85%;
    }

    .cardactive {
        width: 85%;
    }

    .main {
        gap: 80px;
    }

    .row {
        gap: 80px;
        flex-direction: column;
    }

    .details {
        z-index: 1;
        position: relative;
        left: 20px;
    }

    .details span {
        font-size: 60px;
        font-weight: 500;
        line-height: 25px;
    }

    .details h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        padding: 10px 0 20px 0;

    }

    .details p {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding: 16px 0;

    }
}