.container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10% 0 10%;
}
.container img{
   width: 100%;
}
.service{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding-top: 48px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.box span{
    display: flex;
    padding: 10px 38px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #464646;
    font-size: 18px;
}
.box1{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 18px;
    justify-content: center;
    align-items: center;
}
.box2{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}
.service2{
    display: inline-flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20%;
    padding-top: 48px;
}
.mainLeft{
    width: 50%;
    box-sizing: border-box;
}
.mainRight{
    width: 40%;
}
.container img{
    width: 100%;
  height: auto;
  transition: transform 0.9s;
}
.mainRicon.container img {
    transform: scale(1.1); 
  }

.mainLeft h6{
    color: #6A6A6A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

.mainLeft h2{
    color: #090909;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 135% */
    padding-top: 8px;
}

.container p{
    color: #464646;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px; /* 188.889% */
    letter-spacing: 1.08px;
    padding-top: 30px;
    }
.read{
    float: right;
}
/* @media (max-width: 1220px){
    .box{
        width: 100%;
    }
} */
@media (max-width: 1023px) {
    .box span{
    }
    .container{
        padding: 48px 10% 0 10%;
    }
    .service{
        gap: 10%;
        padding-top: 48px;
    }
    
    .service2{
        gap: 10%;
        padding-top: 88px;
    }
    .mainLeft{
        width: 50%;
    }
    .mainRight{
        width: 50%;
    }
    .container img{
        width: 100%;
    }
    .mainLeft h6{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.32px;
    }
    
    .mainLeft h2{
        font-size: 34px;
        font-weight: 600;
        line-height: 54px; /* 135% */
        padding-top: 8px;
    }
    
    .mainLeft p{
        font-size: 16px;
        font-weight: 400;
        line-height: 30px; /* 187.5% */
        padding: 16px 0 32px 0;
    }
    
}
@media (max-width: 975px) {
    .container{
        padding: 0px 6% 0 6%;
    }
    .container img{
        width: 100%;
    }
    .container p{
        text-align: start;
    }
}
@media (max-width: 785px) {
    
    .box span{
        display: flex;
        padding: 6px 8px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        gap: 10px;
        border-radius: 50px;
        border: 1px solid #464646;
    }
}
@media (max-width: 415px) {

    .service{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 20%;
        padding-top: 0px;
    }
    .service2{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column-reverse;
        /* flex-direction: col-reverse; */
        align-items: center;
        gap: 20%;
        padding: 48px 0  72px 0;
    }
    
    .mainLeft{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
    }
    .mainRight{
        width: 100%;
        padding-top: 32px;
        
    }
    .container p{
        font-size: 14px;
        line-height: 21px;
        letter-spacing: normal;
    }
    .container img{
        width: 100%;
      height: auto; 
      transition: transform 0.3s;
    }
    .mainRicon.container img {
        transform: scale(1.1); 
      }
    
    .mainLeft h6{
        color: #6A6A6A;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.32px;
        text-align: center;
    }

    .mainLeft h2{
        color: #090909;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 135% */
        padding-top: 8px;
        text-align: center;
    }

    .mainLeft p{
        color: #6A6A6A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 187.5% */
        padding: 16px 0 32px 0;
        text-align: center;
    }
    .box{
        grid-gap: 10px;
    }
    
}

