.container {
    padding: 24px 0 48px 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #090909;
    margin: 0px 6% 0 6%;
    margin-bottom: 24px;
}
.book{
    color: #fff;
font-size: 17px;
height: 40px;
width: 130px;
font-weight: 600;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #fff;
    border-radius: 12px;
    box-shadow: -4px -4px 8px 0px rgba(30, 34, 43, 0.20);
    transition: all 500ms ease;
}
.book:hover{
    color: #090909;
    background-color: #FDFDFD;
}
.btngroup{
    display: flex;
    align-items: center;
    gap: 32px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 154px;
    padding: 0px 6% 3% 6%;
}

.col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}


.heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.col h2 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.64px;
}

.col p {
    color: #FDFDFD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.32px;
}

.trendfoot {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 40px 0 48px 0;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.enquire {
    color: #090909;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.col img {
    width: 100px;
    height: 94px;
    transition: transform 0.9s;
}

.col:hover img {
    transform: scale(1.1);
}

@media (max-width: 1023px) {
    .row {
        gap: 26px
    }

    .trendfoot {
        padding: 40px 3% 48px 3%;
    }
}

@media (max-width: 767px) {
    .col {
        gap: 16px;
    }

    .row {
        padding: 0px 3% 3% 3%;
    }

    .col img {
        width: 65px;
        height: 55px;
    }

    .col h2 {
        font-size: 26px;
    }

    .col p {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .container {
        margin: 0 3%;
    }
}


@media (max-width: 768px) {
    .container {
        margin: 0;
    }
    .row {
        flex-direction: column;
        gap: 40px;
        padding: 0 4% 3% 4%;
    }
    .book{
        width: 150px;
        /* padding: 16px 16px; */
        box-shadow: -4px -4px 8px 0px rgb(36 36 36 / 40%);
        font-size: 16px;
    }
    .col img {
        width: 50px;
        height: 47px;
    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }

    .col h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .col p {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.32px;
    }

    .trendfoot {
        gap: 26px;
        padding: 20px 0 24px 0;
        font-size: 18px;
        text-align: center;
    }

    .button {
        width: 128px;
        height: 36px;
    }

    .enquire {
        font-size: 14px;
    }
}