
.container{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6% 0  6%;
}
.summary{
  display: inline-flex;
  align-items: center;
  gap:6%;
  padding-top: 48px;
  padding-bottom: 140px;
}

.mainLeft{
  width: 48%;
  box-sizing: border-box;
}
.mainRight{
  width: 46%;
}
.mainRight img{
  width: 100%;
  height: auto;
  transition: transform 0.9s;
}
.mainRight:hover img {
    transform: scale(1.1); 
  }

.summary h6{
  color: #6A6A6A;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.summary h2{
  color: #090909;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 135% */
  padding-top: 8px;
}
.summary h3{
  display: none;
}

.summary p{
  color: #6A6A6A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  padding: 16px 0 32px 0;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding-bottom: 140px;
}


.solutionLeft{
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  padding-top: 40px;
  width: 50%;
}

.solutionLeft h2{
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px; /* 134.375% */
}
.solutionRight{
  padding-top: 40px;
  width: 50%;
}
.solutionRight img{
  width: 100%;
  height: auto;
  transition: transform 0.9s;
}
.solutionRight:hover img {
    transform: scale(1.1); 
  }
.solution{
  display: flex;
  gap: 10px;
  box-sizing: border-box;
}

.service h6{
  color: #6A6A6A;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.content{
  display: flex;
  flex-direction: column;

}

.solution h2{
  color: #090909;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.solution p{
  color: #6A6A6A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 166.667% */
  padding-top: 6px;
}
.colorpallete{
  padding-top: 30px;
}
  .colorpallete img{
    width: 100%;
    height: auto;
  }
  
  
  .tsicons img{
    width: 100%;
    height: auto;
  }
.fullcontainer{
  background-color: #090909;
}

.mobileimg{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 80px 4% 80px 4%;
}

.imagedown{
    padding-top: 60px;
}

.tsicons{
  display: flex;
  justify-content: space-evenly;
  gap: 120px;
  padding: 40px 4% 80px 4%;
}


.clientcontainer{
  background: rgba(217, 217, 217, 0.30);
  padding: 48px 10% ;
}

.client{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}
.cliendetails h3{
  color: #090909;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 183.333% */
  letter-spacing: 0.72px;
}
.cliendetails span{
  color: #464646;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 44px; /* 183.333% */
letter-spacing: 0.72px;
}
/* .client img{
  width: 100%;
  height: auto;
} */
.clientreview{
  color: #6A6A6A;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 220% */
  letter-spacing: 0.6px;
}

.typo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 252px;
  padding: 0 8% 0 8%;
}

.typofont span{
  color: #1E222B;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.typofont h2{
color: #1E222B;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 20px;
}

.typoalpha span{
  color: #1E222B;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 200% */
  letter-spacing: 3.12px;
  float: right;

}

.colorpallete{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 60px 8% 60px 8%;
}
@media (max-width: 1023px) {
  .summary h2{
    font-size: 22px;
    line-height: 36px;
   }
   .summary {
     padding-bottom: 60px;
   }
  }
  @media (max-width: 970px){
    .typo{
      gap: 52px;
    }
    .typo{
      padding: 0 2% 0 2%;
    }
    .colorpallete{
      padding: 30px 2%;
    }
    .tsicons{
      gap: 70px;
    }
  }
  @media (min-width: 747px) and (max-width: 999px){
    .mobileimg{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 30px;
      padding: 80px 12% 80px 12%;
    }
  }
  @media (max-width: 694px){
    .tsicons{
      gap: 30px;
    }
    .tsicons img{
      width: 65px;
    }
  }
  @media (min-width: 457px) and (max-width: 574px){
    .container{
      padding: 40px 8% 0 8%;
    }
  }
@media (max-width: 575px) {
  .summary{
    flex-direction: column;
    gap:3%;
    padding-top: 8px;
    padding-bottom: 30px;
  }
  .summary h3{
    display: block;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 134.375% */
  }
  .summary p{
    font-size: 12px;
    line-height: 22px; 
  }
  .summary h2{
    display: none;
  }
  .mainLeft{
    width: 100%;
    box-sizing: border-box;
  }
  .mainRight{
    width: 100%;
  }
  .row{
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 40px;
  }

  .solutionRight{
    padding-top: 0px;
  }
  .service h6{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.32px;
  }

  .solution h2{
    font-size: 18px;
    line-height: 20px;
  }

  .solutionLeft h2{
    font-size: 16px;
    line-height: 20px;
  }
  .solutionLeft{
    gap: 20px;
    padding-top: 0px;
    width: 100%;
  }
  .solutionRight{
    width: 100%;
  }
  .solution p{
    font-size: 12px;
    line-height: 20px; /* 166.667% */
    padding-top: 6px;
  }
  .bullet svg{
    width: 12px;
    height: 12px;
  }

  .imagedown{
    padding-top: 10px;
  }

  .typo{
    flex-direction: column;
    gap: 30px;
  }
  .typoalpha span{
    text-align: center;
  }
  .colorpallete{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
  }
  .tsicons{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
  .tsicons img{
    width: 38px;
  }
  .clientcontainer{
    padding: 18px 6%;
  }
  .clientreview p{
    font-size: 12px;
    line-height: 24px; /* 187.5% */
  }
  .cliendetails h3{
    font-size: 18px;
    line-height: 24px; /* 183.333% */
    letter-spacing: 0.72px;
  }
  .cliendetails span{
  font-size: 14px;
  line-height: 24px; /* 183.333% */
  letter-spacing: 0.72px;
  }
  .client img{
    width: 16%;
    height: auto;
  }
}
  