.mobcontainer {
    padding: 24px 0 72px 0;
    display: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.slider {
    height: 110px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slidetrack {
    display: flex;
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    width: calc(350px * 46);
    gap: 82px;
}

.slider .slide {
    height: 100px;
    width: auto;
}

.slider .slide img {
    width: 100%;
    height: auto;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-350px * 4));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-350px * 4));
    }
}


.mob {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}


@media (min-width: 330px) and (max-width: 768px) {
    .container {
        display: none;
    }

    .slidetrack {
        -webkit-animation: scroll 30s linear infinite;
        animation: scroll 30s linear infinite;
        width: calc(280px * 5);
        gap: 22px;
    }

    .mobcontainer {
        padding: 24px 24px 24px 24px;
        align-items: flex-start;
        gap: 62px;
        display: block;
    }

    .mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 24px;
    }

    .mobcontainer img {
        width: 40%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {}


@media (min-width: 1024px) and (max-width: 1279px) {}