.containermain{
    padding: 0px 0% 50px 0%;
}


/* .main{
    padding: 48px 8% 0 8%;
} */

.service{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px 3% 40px 3%;
    background: #0AA8E5;
    width: 100%;
    border-radius: 24px;
}

.service h2{
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 135% */
    padding-top: 8px;
}

.service p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding: 8px 0 16px 0;
}
.mainLeft{
    box-sizing: border-box;
    height: auto;
    width: 50%;
}
.mainLeft ul{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
 }
 .mainLeft li{
     list-style-type: none;
 }
.mainRight{
    flex-shrink: 0;
    height: auto;
    width: 50%;
}
.mainRight img{
    width: 100%;
    height: auto;
}
.bullet{
    display: flex;
    align-items: baseline;
    gap: 10px;
    
  }

  .bullet p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
  }
  



  

  .container{
      padding: 0px 3%;
    
   /*  height: 80%;
    
   position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden; */
    
}
.wrapper{
    width: 100%;
    display: flex; 
    animation: slide 16s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-500%);
    }
    75%{
        transform: translateX(-500%);
    }
    80%{
        transform: translateX(-900%);
    }
    100%{
        transform: translateX(-900%);
    }
}


.img{
    width: 100%;
    height: auto;
}

@media (min-width: 360px) and (max-width: 768px) {
    .slides{
        filter: drop-shadow(0px 2px 4px #d7e2db) !important;
    }
    .service{
        flex-direction: column;
        padding: 24px 4% 24px 4%;
        gap: 20px;
        border-radius: 6px;
    }
    .main{
        padding: 0px 8%;
    }
    
    .mainRight img{
    padding-right: 14px;
    width: 100%;
    }
    .service h2{
        font-size:20px;
        line-height: 32px; /* 135% */
        padding-top: 8px;
    }
    
    .service p{
        font-size: 14px;
        line-height: 20px; /* 187.5% */
        padding: 8px 0 8px 0;
    }
    .mainRight{
        width: 100%;
    }
    .mainLeft{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .service{
        padding: 24px 4% 24px 4%;
        gap: 40px;
    }
    .main{
        padding: 0px 8%;
    }
    .mainRight{
        width: 50%;
    }
    .mainLeft{
        width: 50%;
    }
    .mainRight img{
    padding-right: 14px;
    }
    .service h2{
        font-size: 24px;
        line-height: 32px; /* 135% */
        padding-top: 8px;
    }
    
    .service p{
        font-size: 14px;
        line-height: 20px; /* 187.5% */
        padding: 8px 0 8px 0;
    }
    .container{
        padding: 0px 2%;
    }
  }

@media (min-width: 1024px) and (max-width: 1279px) {
    .service h2{
        font-size: 30px;
        line-height: 42px; /* 135% */
        padding-top: 8px;
    }
    .container{
        padding: 0px 2%;
    }
    .service{
        gap: 60px;
    }
}