.container{
    padding:  60px 22% 60px 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}
.container h2{
    color: #090909;
font-size: 48px;
font-style: normal;
font-weight: 700;
letter-spacing: -1.5px;
text-align: center;
}
.container p{
    color: #464646;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
    display: flex;
    flex-direction: column;

}



@media (max-width: 1023px) {
    .container{
        padding:  76px 7% 16px 7%;
        gap: 8px;
    
    }
    .container h2{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -1.5px;
    }
    .container p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.4px;
    }
}

@media (max-width: 375px) {
    .container{
        padding:  16px 4% 16px 4%;
        gap: 8px;
    
    }
    .container h2{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1.5px;
    }
    .container p{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.4px;
    }
}
