.container {
    padding: 6% 8% 8% 8%;
    display: flex;
    align-items: center;
    background: #FFF;
    gap: 80px;
    justify-content: space-between;
    flex-direction: column;
}


.contentleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contentleft h2 {
    color: #090909;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 20px;
    /* 135% */
}

.contentleft p {
    color: #090909;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 8px 10% 48px 10%;
    text-align: center;
}


.boxes{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
}

.boxes1{
    gap: 40px;
    display: flex;
}

.boxes2{
    gap: 40px;
    display: flex;
}

.box{
    display: block;
    align-items: flex-start;
   /*  width: 300px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 16px;
    border-radius: 14px
}
.box span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1E222B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.title{
    color: #090909;
font-size: 20px;
font-weight: 600;
letter-spacing: 0.2px;
padding: 16px 0px;
}
.para{
    color: #6A6A6A;
font-size: 18px;
line-height: 30px; /* 166.667% */
letter-spacing: 0.18px;
}



@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        gap: 60px;
        flex-direction: column;
    }
    .contentleft {
        width: 100%;
        align-items: center;
        padding: 0px 8%;
    }
    .boxes{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .contentleft h2 {
        font-size: 24px;
        padding-bottom: 0px;
    }
    .contentleft p {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }
    
    .boxes2{
        gap: 20px;
    }
    .boxes1{
        gap: 20px;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {

}

@media (min-width: 360px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 40px;
        padding: 8% 6% 8% 6%;
    }

    .contentleft {
        width: 100%;
        padding: 0%;
    }
    .boxes{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .contentleft p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        padding: 0px 0px 36px 0px;
        padding-top: 10px;
    }
    .contentleft h2 {
        font-size: 20px;
        padding-bottom: 0px;
    }
    .box{
        width: 100%;
        border-radius: 6px;
    }
    .title{
    font-size: 14px;
    line-height: 24px;
    padding: 8px 0px;
    }
    .para{
        font-size: 12px;
    line-height: 18px;
    }
    .box span{
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .boxes2{
        gap: 20px;
    }
    .boxes1{
        gap: 20px;
    }
}
