.outercontainer{
    border-radius: 24px;
    background: rgba(237, 236, 236, 0.45);
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.container{
    padding: 0;
    margin: 0;
}
.platform{
    width: 100%;

}
.maincontainer{
        padding: 80px 6% 80px 6%;
}
.main{
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 40px
}
.mainleft{
    color: #090909;
font-size: 64px;
width: 42%;
font-weight: 300;
line-height: 46px; /* 71.875% */
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 80px 4% 80px 4%;
    gap: 80px;
}
.content2{
    display: flex;
    justify-content: space-between;
    padding: 40px 4% 40px 4%;
    gap: 80px;
}
.heading{
    width: 60%;
    color: #090909;
    font-size: 34px;
    font-weight: 600;
    line-height: 46px; /* 135.294% */
}
.heading p{
    width: 80%;
}
.para{
    color: #6A6A6A;
    font-size: 16px;
    width: 40%;
    line-height: 30px; /* 187.5% */
    display: inline;
    gap: 20px;
}

.story{
    color: #6A6A6A;
font-size: 16px;
line-height: 30px; /* 187.5% */
}
.story img{
    width: 100%;
}
.title{
    color: #090909;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.24px;
    padding: 24px 0px 8px 0px;
    width: 80%;
}
.story p{
    width: 70%;
}
.read{
    color: #1E222B;
font-size: 16px;
font-weight: 600;
display: flex;
padding: 25px 0px;
align-items: center;
}
.read svg{
    margin-left: 8px;
}
.mainright{
    color: #6A6A6A;
font-size: 16px;
width: 50%;
line-height: 30px; /* 187.5% */
}
@media (min-width: 768px) and (max-width: 1023px) {
    .platform{
        width: 115%;
    }
    .content{
        padding: 80px 0% 40px 0%;
        gap: 0px;
    }
    .content2{
        padding: 0px 0% 0px 0%;
        gap: 60px;
    }
    .heading{
        font-size: 24px;
        line-height: 38px;
        width: 56%;
    }
    .para{
        font-size: 16px;
        line-height: 28px;
        gap: 10px;
    }
    .mainleft{
        font-size: 32px;
        line-height: 37px;
        width: 30%;
    }
    .mainright{
        margin-right: 0;
        width: 70%;
        font-size: 16px;
        line-height: 28px;
    }
    .story img{
        width: 100%;
    }
    .story p, .title{
        width: 95%;
    }
    .title{
        line-height: 35px;
    }
    .story{
        font-size: 16px;
        line-height: 28px;
    }
    .outercontainer{
        padding: 40px 40px;
    }
}
@media (min-width: 360px) and (max-width: 768px) {
    .maincontainer{
            padding: 40px 6% 20px 6%;
    }
    .main, .content{
        flex-direction: column;
    }
    .mainleft, .mainright, .story{
        width: 100%;
        text-align: left;
    }
    .heading p, .heading, .para{
        width: 100%;
    }
    .outercontainer{
        border-radius: 6px;
        padding: 20px 20px;
        gap: 30px;
    }
    .main{
        gap: 10px;
    }
    .mainleft{
        font-size: 24px;
        line-height: 28px;
    }

    .mainright{
        font-size: 12px;
        line-height: 28px;
    }
    .content{
        padding: 40px 0% 40px 0%;
        gap: 0px;
    }
    .content2{
        padding: 0px 0% 0px 0%;
        gap: 0px;
        flex-direction: column;
    }
    .heading{
        font-size: 20px;
        line-height: 32px;
        width: 100%;
        padding-bottom: 10px;
    }
    .para{
        font-size: 12px;
        line-height: 28px;
        gap: 10px;
    }

    .title{
        width: 100%;
    }
    .story p{
        width: 100%;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {
    .platform{
        width: 115%;
    }
    .content{
        padding: 80px 0% 40px 0%;
        gap: 0px;
    }
    .content2{
        padding: 0px 0% 0px 0%;
        gap: 60px;
    }
    .heading{
        font-size: 32px;
        line-height: 48px;
        width: 56%;
    }
    .para{
        font-size: 18px;
        line-height: 32px;
        gap: 10px;
    }
    .mainleft{
        font-size: 32px;
        line-height: 48px;
        width: 30%;
    }
    .mainright{
        margin-right: 0;
        width: 70%;
        font-size: 18px;
        line-height: 32px;
    }
    .story img{
        width: 100%;
    }
    .story p, .title{
        width: 95%;
    }
    .title{
        line-height: 35px;
    }
    .story{
        font-size: 18px;
        line-height: 32px;
    }
    .outercontainer{
        padding: 60px 60px;
    }
}