.faqcontainer {
  padding: 0px 8% 0px 8%;
}

.faqaccordion {
  display: flex;
  grid-gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0px 0px 80px 0px;
}

.faqbox {
  width: calc(50% - 25px);
  height: fit-content;
  border-radius: 12px;
  border: 1px solid rgba(39, 44, 46, 0.10);
  background: #FFF;
  box-shadow: 0.60219px 1.80656px 0px -0.83333px rgba(0, 0, 0, 0.05);
  padding: 27px 27px 27px 36px;
}

.question {
  color: #090909;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.answer {
  color: #6A6A6A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  padding-top: 27px;
  transition: all 0.3s;
}

.aligned {
  display: flex;
  grid-gap: 20px;
  width: 100%;
}

.dropdown {
  width: 12px;
  height: 12px;
  margin-top: 6px;
  transition: all 0.3s;
  cursor: pointer;
}

.dropdown.active {
  transform: rotate(90deg);
}

/* .faq-accordion {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px;
}

.faq {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.faq.active {
  background-color: #f5f5f5;
}

.faq-question {
  font-weight: bold;
}

.faq-answer {
  display: none;
}

.faq.active .faq-answer {
  display: block;
}
.faq-item{
  background-color: black;
} */
/* @media (min-width: 1024px) and (max-width: 1279px) {
  .faqaccordion {
    flex-direction: column;
  }

  .faqbox {
    width: 95%;
  }

  .aligned {
    grid-gap: 5%;
    justify-content: flex-start;
  }
} */

@media (min-width: 768px) and (max-width: 1023px) {
  .faqcontainer {
    padding: 0 5% 40px 5%;
  }
  .faqaccordion {
    grid-gap: 25px;
  }
  .question {
   font-size: 24px;
    line-height: 36px;
  }
  .faqbox {
    width: 100%;
    padding: 16px 16px 16px 24px;
  }
  .faqaccordion {
    grid-gap: 20px;
    padding: 0px 8%;
  }
}
 
@media (min-width: 360px) and (max-width: 768px) {
 
  .answer {
    font-size: 14px;
  }

  .faqbox {
    width: 100%;
    padding: 16px 16px 16px 24px;
  }

  .answer {
    padding-top: 15px;
  }
  .question {
    font-size: 16px;
    line-height: 24px;
  }
  .faqaccordion {
    grid-gap: 20px;
    padding: 20px 0px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {

}