.container{
    padding: 48px 4%;
}
.main{
    display: flex;
    /*  align-items: center; */
     gap: 80px;
     justify-content: center;
     padding: 48px 4% 48px 4%;
}
.service {
    display: flex; 
    flex-direction: column;
    gap: 25px;
    color: #6A6A6A;
    font-size: 16px;
    line-height: 26px; /* 162.5% */
}
.service img{
    width: 64px;
    height: 64px;
}
.service h2{
    color: #090909;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0.112px;
    padding: 16px 0px 16px 0px;
}
.service p{
    color: #6A6A6A;
font-size: 16px;
line-height: 28px; /* 162.5% */
}
.more{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
    color: #1E222B;
text-align: center;
font-size: 16px;
font-weight: 600;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    
    .service2{
        gap: 60px;
        padding: 48px 6% 48px 6%;
    }
    .container{
        padding: 0px 2%;
    }
    .main{
        gap: 30px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    
    
    .service h2{
        font-size: 22px;
        font-weight: 600;
        line-height: 34px; /* 150% */
    }
    .service p{
        font-size: 14px;
        line-height: 26px;
    }
    .more{
        font-size: 12px;
    }
    .more svg{
        width: 12px;
    }
    .container{
        padding: 0px 2%;
    }
    .main{
        gap: 30px;
    }
    .service{
        gap: 0px;
    }
}
@media (min-width: 360px) and (max-width: 768px) {
    
    .more svg{
        width: 12px;
    }
    .main{
        flex-direction: column;
        gap: 30px;
    }
    .service p{
        font-size: 12px;
    line-height: 20px; 
    }
    .service h2{
        font-size: 18px;
    font-weight: 600;
    line-height: 28px; /* 150% */
    padding: 8px 0px 8px 0px;
    }
    .service{
        flex-direction: column;
        gap: 0px;
    }
    .service img{
        width: 48px;
        height: 48px;
    }
    .container{
        padding: 0px 2%;
    }
    .more{
        font-size: 12px;
        padding-top: 16px;
    }
}



.read{
    color: #4c4c4c;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
align-items: center;
transition: all 500ms ease;
padding-top: 20px;
}
.read a{
    color: #4c4c4c;
    transition: all 500ms ease;
}
.read a:hover{
    color: #090909;
    font-size: 17px;
    }
.read svg{
    margin-left: 8px;
    padding-top: 2px;
}