.container{
    padding: 48px 6%;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    justify-content: space-between;
    padding: 25px 0;
    width: 100%;
}
.service {
    display: flex; 
    flex-direction: column;
    gap: 25px;
    color: #6A6A6A;
font-size: 16px;
line-height: 26px; /* 162.5% */
}
.service img{
    width: 64px;
    height: 64px;
}
.service h2{
    color: #090909;
font-size: 24px;
font-weight: 600;
letter-spacing: 0.112px;
}
.service a{
    color: #1E222B;
font-size: 16px;
font-weight: 600;
line-height: 31.266px; /* 195.411% */
padding: 5px 0px;
border-bottom: 2px solid #090909;
width: 110px;
}
@media (max-width: 745px) {
    .service{
    }
    .main{
        gap: 50px 25px;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 485px) {
    .service p{
        font-size: 12px;
        line-height: 20px;
    }
    .service h2{
        font-size: 18px;
        line-height: 28px;
    }
    .service{
        gap: 18px;
    }
    .service img{
        width: 48px;
        height: 48px;
    }
}