.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 10% 72px 10%;
}
.mainLeft, .mainRight{
    width: 50%;
}
.mainLeft h2{
    color: #1E222B;
font-size: 44px;
font-weight: 500;
line-height: 56px; /* 127.273% */
margin-bottom: 10px;
}
.mainLeft p{
    color: #464646;
font-size: 18px;
font-weight: 400;
line-height: 34px; /* 188.889% */
}
.book{
    color: #090909;
font-size: 17px;
width: 130px;
font-weight: 600;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #090909;
    border-radius: 12px;
    box-shadow: -4px -4px 8px 0px rgba(30, 34, 43, 0.20);
    transition: all 500ms ease;
}
.book:hover{
    background: #090909;
    color: #fff;
}
.btngroup{
    display: flex;
    gap: 20px;
    margin-top: 60px;
}
.mainRight{
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}
.mainRight img{
    width: 100%;
    max-width: 441px;
    height: auto;
}
@media (max-width: 849px) and (min-width: 745px) {
    .mainLeft p{
        line-height: 26px;
    }
    .mainLeft h2{
        line-height: 46px;
    }
}
@media (max-width: 745px) {
    .container{
        flex-direction: column;
    }
    .mainLeft{
        width: 100%;
    }
    .mainRight{
        width: 100%;
        align-items: center;
        margin-top: 20px;
        justify-content: center;
    }
    .btngroup{
        justify-content: center;
        margin: 30px
    }
}

@media (max-width: 475px) {
    
    .book{
        width: 150px;
        /* padding: 16px 16px; */
        box-shadow: -4px -4px 8px 0px rgb(36 36 36 / 40%);
        font-size: 16px;
    }
}
@media (max-width: 445px) {
    .btngroup{
        gap: 10px;
        margin-top: 20px;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {}