.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 80px ;
}

.contentmain{
    position: relative;
    padding-bottom: 80px;
    border-radius: 24px;
background: rgba(230, 230, 230, 0.26);
}
/* .contentright{
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */
.contentright img{
    width: 100%;
    /* border-radius: 24px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.main{
    position: absolute;
    top: 7%;
    padding-left: 100px;
    max-width: 350px;
}
.content h2{
    color: #090909;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.67px;
    padding-bottom: 20px;
}
.content p{
    color: #090909;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.67px;
padding-bottom: 80px;
}
.content2{
    width: 300px;
}
.content2 span{
    color: #090909;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
padding-right: 45px;
}
.hidden{
    display: none;
}
@media (max-width: 835px){
    .main{
        padding-left: 50px;
        top: 10%;
        width: 50%;
    }
    .box{
        padding: 25px 20px;
    }
}
@media (max-width: 505px){
    
    .contentright img{
        opacity: 1;
    }
    .hidden{
        display: flex;
    }
    .content p{
        padding-bottom: 30px;
    }
    .content2 span{
        padding-right: 15px;
        font-size: 18px;
    }
    .main{
        top: 2%;
    }
   
}
@media (max-width: 375px){
    .main{
    padding-left: 11px;
    }
    .content p{
        padding-bottom: 20px;
        font-size: 18px;
    }
    /* .box{
        padding: 40px 20px;
    }*/
    

}