.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 80px  40px 80px;
    gap: 40px;
}

.contentmain{
    display: flex;
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(230, 230, 230, 0.26);
    width: 100%;
    align-items: center;
    gap: 80px;
}
.contentright{
    width: 60%;
    padding: 40px 40px 0px 0px;
}
.contentright img{
    width: 100%;
    height: auto;
    /* border-radius: 24px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.main{
    width: 40%;
    padding: 40px 0px 40px 40px;
}
.more{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
    justify-content: center;
    color: #1E222B;
font-size: 16px;
font-style: normal;
font-weight: 600;
}
.content h2{
    color: #090909;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.67px;
}
.content p{
    color: #4c4c4c;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.67px;
    padding: 60px 0px 60px 0px;
}
.content2{
    width: 300px;
}
.content2 span{
    color: #090909;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
padding-right: 45px;
}
.hidden{
    display: none;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    
    .main{
     width: 100%;
    }    

    .contentright{
        width: 100%;
        padding: 40px 40px 0px 40px;
    }
    .contentmain{
        gap: 40px;
    }
    .content h2{
        font-size: 28px;
        line-height: 42px;
    }
    .content p{
        font-size: 22px;
        line-height: 34px;
        padding: 40px 0px 40px 0px;
    }
    .content2 span{
        font-size: 18px;
        line-height: 28px;
    }

}


@media (min-width: 768px) and (max-width: 1023px) {
    
        .main{
         width: 100%;
        }   
        .contentright{
            width: 100%;
            padding: 40px 40px 0px 40px;
        }
        .contentmain{
            gap: 40px;
        }
        .content h2{
            font-size: 24px;
            line-height: 32px;
        }
        .content p{
            font-size: 18px;
            line-height: 28px;
            padding: 40px 0px 40px 0px;
        }
        .content2 span{
            font-size: 18px;
            line-height: 28px;
        }
   
}
@media (min-width: 360px) and (max-width: 768px) {
    .main{
        width: 100%;
        padding: 20px 20px 20px 20px;
        border-radius: 6px;
       }   
       .contentright{
           width: 100%;
           padding: 0px 20px 0px 20px;
       }
       .contentmain{
        flex-direction: column;
        gap: 20px;
        border-radius: 6px;
    }
    .content h2{
        font-size: 20px;
        line-height: 32px;
    }
    .content p{
        font-size: 12px;
        line-height: 18px;
        padding: 10px 0px 10px 0px;
    }
    .content2 span{
        font-size: 12px;
        line-height: 28px;
    }
    .box{
        padding: 20px 20px;
    }

    

}




.read{
    color: #4c4c4c;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
align-items: center;
transition: all 500ms ease;
}
.read a{
    color: #4c4c4c;
    transition: all 500ms ease;
}
.read a:hover{
    color: #090909;
    font-size: 17px;
    }
.read svg{
    margin-left: 8px;
    padding-top: 2px;
}