
.read{
    color: #4c4c4c;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
align-items: center;
transition: all 500ms ease;
}
.read a{
    color: #4c4c4c;
    transition: all 500ms ease;
}
.read a:hover{
    color: #090909;
    font-size: 17px;
    }
.read svg{
    margin-left: 8px;
    padding-top: 2px;
}