.container{
    padding: 0px 6%;
}
/* .stages{
    margin-top: 65px;
} */
.box{
    height: fit-content;
    border-radius: 14px;
    border: 2px solid #0AA8E5;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 3% 4% 3% 4%;
}
.first{
    width: 100%;
}
.second{
    width: 100%;
}
.third{
    width: 100%;
}
.question{
    align-items: center;
    justify-content: space-between;
display: flex;
}
.head{
    color: rgba(10, 168, 229, 0.93);
    font-size: 32px;
    font-weight: 500;
}
.answer{
    margin-top: 20px;
    gap: 40px;
}
.answer p{
    color: rgba(21, 22, 26, 0.70);
font-size: 16px;
line-height: 34px; /* 212.5% */
width: 50%;
margin-top: 3px;
}
.answer img{ 
    width: 46%;
}

.ppl{
    width: 40%;
    height: auto;
    margin-right: 2%;
}
.dropdown{
    transition: all ease-in 0.3s;
    cursor: pointer;
    width: 2.5%;
    min-width: 18px;
    height: auto;
}
.active{
    transform: rotate(180deg);
}

@media (min-width: 768px) and (max-width: 1023px) {
    
    .box{
        border-radius: 6px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 4% 4% 4% 4%;
    }
    
    .head{
        font-size: 28px;
    }
}
@media (min-width: 360px) and (max-width: 768px) {
    .box{
        
    border-radius: 6px;
    }
    .head{
        font-size: 20px;
    }
    .answer p{
        font-size: 12px;
        line-height: 24px;
        width: 100%;
    }
    .dropdown{
        width: 6%;
    }
    .answer{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .answer img{ 
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .head{
        font-size: 28px;
    }
}