.container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 6% 0 6%;
    padding: 0px 40px;
    border-radius: 14px;
    background: rgba(232, 232, 232, 0.47);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.service{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 22%;
    padding-top: 48px;
}

.service2{
    display: inline-flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30%;
    padding-top: 48px;
}
.main{
    width: 46%;
}
.mainLeft{
    width: 80%;
    box-sizing: border-box;
    border-radius: 14px;
    background: rgba(217, 217, 217, 0.65);
    backdrop-filter: blur(25px);
    position: relative;
    top: -80px;
    left: -140px;
    padding: 20px 20px 20px 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
/* .mainRight{
    width: 40%;
} */
.mainRight img{
    width: 100%;
  height: auto;
  /* transition: transform 0.9s; */
}
.mainRight:hover img {
   /*  transform: scale(1.1);  */
  }

.main h6{
    color: #6A6A6A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

.main h2{
    color: #090909;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 135% */
    padding-top: 8px;
}

.main p{
    color: #6A6A6A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding: 6px 0 40px 0;
}
.read{
    float: left;
}
.bullet{
    display: flex;
    align-items: baseline;
    gap: 10px;
    
  }

  .bullet p{
    color: #090909;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

@media (max-width: 375px) {

    .service{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 20%;
        padding-top: 0px;
    }
    .service2{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column-reverse;
        /* flex-direction: col-reverse; */
        align-items: center;
        gap: 20%;
        padding: 48px 0  72px 0;
    }
    
    .mainLeft{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
    }
    .mainRight{
        width: 100%;
        padding-top: 32px;
        
    }
    .mainRight img{
        width: 100%;
      height: auto; 
      transition: transform 0.3s;
    }
    .mainRight:hover img {
        transform: scale(1.1); 
      }
    
    .mainLeft h6{
        color: #6A6A6A;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.32px;
        text-align: center;
    }

    .mainLeft h2{
        color: #090909;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 135% */
        padding-top: 8px;
        text-align: center;
    }

    .mainLeft p{
        color: #6A6A6A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 187.5% */
        padding: 16px 0 32px 0;
        text-align: center;
    }
    .container{
        padding: 0px 10% 0 10%;
    }

    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container{
        padding: 48px 10% 0 10%;
    }
    .service{
        gap: 10%;
        padding-top: 48px;
    }
    
    .service2{
        gap: 10%;
        padding-top: 88px;
    }
    .mainLeft{
        width: 50%;
    }
    .mainRight{
        width: 50%;
    }
    .mainRight img{
        width: 100%;
    }
    .mainLeft h6{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.32px;
    }
    
    .mainLeft h2{
        font-size: 34px;
        font-weight: 600;
        line-height: 54px; /* 135% */
        padding-top: 8px;
    }
    
    .mainLeft p{
        font-size: 16px;
        font-weight: 400;
        line-height: 30px; /* 187.5% */
        padding: 16px 0 32px 0;
    }
    
}


@media (min-width: 1024px) and (max-width: 1279px) {
 
}