.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 48px 6% 0 6%;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3% 10%;
    height: 180vh;
    padding: 0 20px 0px 20px;
    align-items: center;
    justify-content: center;
}
.subservice{
    margin: auto;
    width: 90%;
    display:flex;
    flex-direction: column;
    /* height: 345px; */
}
.subservice h2{
    color: #090909;
font-size: 24px;
font-weight: 600;
letter-spacing: 0.112px;
}
.subservice p{
    color: #6A6A6A;
font-size: 16px;
line-height: 26px; /* 162.5% */
}
.more{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
    color: #1E222B;
text-align: center;
font-size: 16px;
font-weight: 600;
}
@media (max-width: 831px) {
    .subservice{
        margin: auto;
        width: 100%;
    }
    .services{
        grid-gap: 3% 7%; 
        padding: 0;
        height: 220vh;
    }
}
@media (max-width: 549px) {
    .services{
        grid-template-columns: 1fr 1fr;
    }
    .subservice svg{
        width: 28px;
        height: auto;

    }
    .subservice h2{
font-size: 12px;
font-weight: 600;
line-height: 18px; /* 150% */
    }
    .subservice p{
font-size: 12px;
line-height: 20px; /* 166.667% */
    }
    .more{
        font-size: 12px;
    }
    .more svg{
        width: 12px;
    }
}