.containermain {
padding: 40px 0px;

}

.container {
    padding: 0px 0 60px 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.card {
    display: inline-flex;
    padding: 28px 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    border: 1px solid rgba(39, 44, 46, 0.10);
    background: #FFF;
    box-shadow: 0.6021869778633118px 1.8065600395202637px 0px -0.8333330154418945px rgba(0, 0, 0, 0.05);
}

.row1 {
    display: flex;
    align-items: center;
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(350px * 12);
    gap: 32px;
}


.row2 {
    display: flex;
    align-items: center;
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(350px * 12);
    gap: 32px;
    padding-left: 340px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 16px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.card h2 {
    color: #1E222B;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card span {
    color: #464646;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card p {
    color: #6A6A6A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.avatar img {
    width: 64px;
    height: 64px;
}

/* .wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider {
	height: 110px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slider .slidetrack {
	-webkit-animation: scroll 30s linear forwards;
	animation: scroll 30s linear forwards;
	display: flex;
	width: calc(350px * 48);
    gap: 82px;
}

.slider .slide {
	height: 100px;
	width: auto;
}
 */
/* .slider .slide img {
    width: 100%;
	height: auto;
} */

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-350px * 4));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-350px * 4));
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        padding: 26px 0 40px 0;
        gap: 20px;
    }
    .containermain {
        padding: 40px 0px;
        
    }
}

@media (min-width: 360px) and (max-width: 768px) {
        .containermain {
            padding: 40px 0px;
            
        }
         .container {
        padding: 32px 4% 48px 4%;
        gap: 20px;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .card {
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card h2 {
        font-size: 15px;
        font-weight: 700;
    }

    .card span {
        font-size: 12px;
        font-weight: 400;
    }

    .card p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
    }

    /*  .avatar{
        gap: 80px;
    } */
    .avatar img {
        width: 54px;
        height: 54px;

    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .container {
        padding: 0px 0 0px 0;
        gap: 30px;
    }
    .containermain {
        padding: 40px 0px;
        
    }
}