.container{
    display: inline-flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 56px;
    padding:  132px 7% 32px 7% ;
}
.container2{
    display: inline-flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding:  0px 0 0px 0;
}
.heading{
    color: #090909;
    text-align: left;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 98px;
    letter-spacing: 1.6px;
    padding-bottom: 28px;
}
.heromain{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    color: #464646;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px; /* 187.5% */
    letter-spacing: 0.4px;
    width: 76%;
    padding-bottom: 48px;
}
.enquire{
    color: #FFF;
font-size: 20px;
line-height: 36%;
font-style: normal;
font-weight: 600;
line-height: normal;
}
   

.main{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
line-height: normal;
}

.quicknav span{
    color: #6A6A6A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px;
}
.sub{
    color: #0AA8E5;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .heading{
        font-size: 60px;
        font-weight: 600;
        line-height: 90px;
        letter-spacing: 0.8px;
        padding-bottom: 0px;
    }
    .title{
        font-size: 20px;
        line-height: 36px;
        width: 76%;
        padding-bottom: 38px;
        padding-top: 18px;
    }
    .container2{
        gap: 0px;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    .heading{
        font-size: 54px;
        line-height: 68px;
        padding-bottom: 0px;
    }
    .title{
        font-size: 16px;
        line-height: 36px;
        width: 76%;
        padding-bottom: 38px;
        padding-top: 18px;
    }
    .container{
        gap:40px;
    }
  }
  @media (min-width: 360px) and (max-width: 768px) {
    .container{
        gap: 36px;
        justify-content: center;
        align-items: center;
        padding: 32px 6% 0px 6%;
    }
    .heading{
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0.8px;
        padding-bottom: 0px;
    }
    .title{
        font-size: 12px;
        line-height: 18px;
        width: 100%;
        padding-bottom: 0px;
        padding-top: 18px;
    }
    .button{
        width: 120px;
        height: 36px;
    }
    .enquire{
        font-size: 12px;
    }
    .quicknav{
        display: none;
    }
}

  