.container{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    background-color: #090909;
    /* left: -57%; */

    top: 0;
    margin-left:var(--margin);
    margin-right:var(--margin);
   /*  max-width: 1440px;
    width: 100%; */
    width: 100%;
    padding: 2% 2%;
}
/* .innersection{
    padding: 2% 16%;
    width: 80%;
} */
.businesscat{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.main{
    display: flex;
    align-items: flex-start;
    gap: 0px;
}
.title{
    color: #ffffff;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}
.subcatmain h2{
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.stage{
    /* border-bottom:  1px solid rgb(231, 231, 231); */
    padding: 0px 20px 40px 20px;
    display: flex;
    flex-direction: column;
}
.stage h2{
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    padding: 28px 0px 30px 24px;
}
.row{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
    padding-left: 12px;
}
.stagerow{
    display: flex;
    align-items: center;
}
.subcatmain{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}
.subcatmain2{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}
.business{
    padding: 6px 22px 12px 16px;
    /* border-left: 4px solid transparent; */
}
.business:hover{
    border-radius: 4px;
    background: rgba(237, 235, 235, 0.26);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.06);
    /* border-left: 4px solid #090909; */
}

.subcat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.subcat h3{
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
} 
.subcat a{
    color: #ffffff;

}
.subcat2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}
.subcat2 h3{
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
} 
.subcat2 a{
    color: #ffffff;

}
.row h3{
    color: #6A6A6A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
} 
.row h3:hover{
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
} 
.business p{
    color: #464646;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}
.buttonmain{
    padding: 20px 0px 0px 24px;
}
.button{
    display: flex;
    padding: 14px 156px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #000;
    border-radius: 8px;
    background: rgba(30, 34, 43, 0.04);
    border-style: none;
}

.enquire{
    color: #090909;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.line::before {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid rgb(231, 231, 231);
  }

  .stage .buttonmain{
      visibility: hidden;
  }
/* .line{
    padding-top: 58px;
} */

/* .horline::before {
    content: '';
    display: block;
    height: 100%;
    border-top: 1px solid rgb(231, 231, 231);
  } */
/* @media (max-width: 375px) {
    .button{
        width: 120px;
        height: 36px;
    }
    .enquire{
        font-size: 12px;
    }
    .container{
        left: 57%;
    }
    .businesscat{
        padding: 10px;
        width: 100%;
    }
}

@media (max-width: 767px){
    .container{
        flex-direction: column;
        left: 0%;
        margin:0;
        width: 100%;
    }
    .businesscat{
        background-color: white;
        width: 100%;
        margin-top: 0;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .container{
        position: relative;
        left: -50%;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {
    .container{
        position: relative;
        width:90%;
        left: -46%;
    }
} */



@media (min-width: 1024px) and (max-width: 1279px) {
    .title{
        font-size: 22px;
        line-height: 36px;
    }
}